<%= render :partial => 'generic_files/breadcrumbs' %>

<h1 class="lower"><%= display_title(@generic_file) %></h1>

<div class="row">
  <div class="span40">
    <%= render :partial => 'generic_files/media_display' %>
  </div>
  <div class="span2">&nbsp;</div>
  <div class="span68"><!-- class="column second"> -->
    <%= render partial: 'show_actions' %>
    <%= render partial: 'show_descriptions' %>
    <%= render partial: 'show_details' %>
    <%= render :partial => 'users/activity_log', :locals => {:events => @events} %>
    <h2>Stats:</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Views</th>
          <td><%=@generic_file.views.count%></td>
        </tr>
        <tr>
          <th>Downloads</th>
          <td><%=@generic_file.downloads.count%></td>
        </tr>
      </tbody>
    </table>
  </div><!-- /columns second -->
</div> <!-- /columns two-b -->
