<%#
Copyright © 2012 The Pennsylvania State University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>


<% content_for :js_head do  %>
  <% javascript_include_tag 'https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ff1d986721ebb24' %>
  <script type="text/javascript">
    var addthis_config = {"data_track_addressbar":true};
  </script>
<% end %>

<%= render :partial => 'generic_files/breadcrumbs', locals: {generic_file: @imported_metadata} %>

<h1 class="lower"><%= @imported_metadata.item_title %></h1>

<div class="row">
  <div class="span40">
  </div>
  <div class="span2">&nbsp;</div>
  <div class="span68"><!-- class="column second"> -->
    <%= render partial: 'show_actions' %>
    <%= render partial: 'show_descriptions' %>
    <%= render partial: 'matching_files' %>
    <%#= render :partial => 'users/activity_log', :locals => {:events => @events} %>
  </div><!-- /columns second -->
</div> <!-- /columns two-b -->
