      <div class="controls" <%  if index == 0 %> id="additional_<%= key.to_s %>_clone" <% end %>>
        <% required = render_req && (index == 0) && required?(key) %>
        <%= f.text_field :value, :name=>"generic_file[#{key}_attributes][#{index}][value]", :id => "generic_file_#{key}_attributes_#{index}_value", :value=>v.value.first, :class => "input-large", :required => required, placeholder: 'Identifier'  %>
        <%= select_tag :identifier_type, options_for_select([['Barcode', 'PO_NUMBER']]), {:name=>"generic_file[#{key}_attributes][#{index}][identifier_type]", :id => "generic_file_#{key}_attributes_#{index}_identifier_type", :value=>v.identifier_type.first, :class => "input-large", :required => required, placeholder: 'Identifier Type'}  %>
        <%= render :partial=>"generic_files/edit_fields/suffix", :locals=>{key: key, index: index} %>
      </div><!-- /controls -->              
      <div id="additional_<%= key %>_elements"></div>


